:root {
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    font-size: 14px;
}
/*font 500,700*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif ;
    background-color: var(--Cream);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    background-color: var(--White);
    position: absolute;
    margin: 1.5rem;
    border-radius: .5rem;
}
.mobile {
    width: 100%;
    display: block;
    border-radius: .5rem .5rem 0 0;
}
.desktop {
    display: none;
}
.text-card {
    padding: 1.5rem;
}
h1 {
    font-family: "Fraunces", sans-serif;
    line-height: 1;
    margin-block-end: 1rem;
}
.perfume { 
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--Grey);;
    margin-block-end: .5rem;
    font-size: 12px;
}
.info {
    color: var(--Grey);
    line-height: 1.5;
    margin-block-end: 1rem;
}
.price-card {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.sale {
    color: var(--Green500);
    font-weight: 700;
}
.original {
    text-decoration: line-through;
    transform: translateY(-5px);
    color: var(--Grey);
    font-size: 12px;
}
button {
    background-color: var(--Green500);
    padding: .8rem 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: none;
    border-radius: .5rem;
    color: var(--White);
    gap: 1rem;
    font-weight: 700;
}
button img {
    width: 13px;
}
button:hover {
    background-color: var(--Green700);
}

@media (min-width: 48em) {
    .container {
       display: grid;
       grid-template-columns: 1fr 1fr;
       max-width: 550px;
    }
    .mobile {
        display: none;
    }
    .desktop {
        width: 100%;
        display: block;
        border-radius: .5rem 0 0 .5rem ;
    }
    .perfume {
        margin-block-end: 1.5rem;
    }
    h1 {
        font-size: 2.3rem;
    }
    .info {
        margin-block-end: 1.5rem
    }
    .price-card {
        margin-block-end: 1rem;
    }
}